body {
}

#board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
}

#project {
    width: 200px;
    height: 200px;

    background-color: rgb(255, 127, 212);
    margin: 50px;
}

#canvas {
    width: 1vw;
    height: 500px;
}
