body {
    background-color: aquamarine;
}

#board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
}

#project {
    width: 200px;
    height: 200px;

    background-color: rgb(255, 127, 212);
    margin: 50px;
}
